@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap');

body{
    background-color: #2a2e48;
    color: black;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.cabecalho{
    color: #cbccd3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(45, 48, 100, 0.5);
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
}

.links-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.link-header{
    color: #cbccd3;
    gap: 20px;
    text-decoration: none;
}

.link-header:hover{
    color: #a8adb8;
    box-sizing: border-box;
    border-bottom: solid 1px white;
}

.text-content-1{
    font-size: 32px;

    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    text-align: center;
    line-height: 50px;


    color: white;
}

.lorem-1{
    margin-top: -15px;
    font-size: 16px;
    line-height: 20px;
}

.button-find-out{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.button-1{
    width: 200px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #e84545;
    color: white;

    border: none;
    border-radius: 5px;

    font-weight: 700;
}

.button-1:hover{
    background-color: #fa6060;
}



.text-content-2{
    height: 700px;
    background-color: white;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    align-content: center;
    gap: 40px;
}



.content-2-all{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content:space-around;
    
}



.content-2{
    width: 302px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;

    margin-left: 30px;
    margin-right: 30px;
    
    font-size: 14px;

    color: gray;

    margin-bottom: 50px;
}

.content-2 h1{
    font-weight: 700;
    color: black;
}

.content-2 img{
    width: 60px;
    height: 60px;
}


.content-2-line{
    width: 302px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;

    margin-left: 30px;
    margin-right: 30px;
    
    font-size: 14px;

    color: gray;

}

.content-2-line h1{
    font-weight: 700;
    color: black;
}

.content-2-line img{
    width: 60px;
    height: 60px;
}



.text-content-3{
    background-color: white;
}

.images-content{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.images-content-2{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2px;
}

.images{
    width: 312px;
}


.content-4-people{
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;

    background-color: white;
}

.people-content{
    height: 310px;
    max-width: 210px;
    
    color: #6c7279;
    font-size: 11.2px;

    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: space-around;
}

.content-people-gap{
    display: flex;
    gap: 22px;
}

.people-content span{
    margin-top: 20px;
}

.people-content-image-text{
    display: flex;
    flex-direction: column;
}

.people-content-image-text img{
    max-width: 200px;
}

.people-content h1{
    color: black;
    font-size: 18px;
    text-align: left;
}

.people-content h2{
    color: red;
    font-size: 11.2px;
    text-align: left;
    margin-top: -10px;
}

.social-media-icons{
    display: flex;


    margin-top: 20px;
}

.social-media-ico{
    width: 35px;
}

.photo-grid-content{
    height: 300px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
}

.photo-grid{
    max-width: 100%;
    width: 100%;
    height: 345px;
}

.text-grid-content{
    background-color: #53354a;
    color: white;
    width: 100%;
    min-height: 115%;
    padding-left: 5%;
    padding-right: 15%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.text-grid-content h3{
    font-size: 30px;
    font-family: 'Cardo', serif;
    font-weight: 500;
    text-align: left;
}

.text-grid-content h4{
    font-size: 13px;
    margin-top: -5px;
}

.buttons-grid{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.button-grid{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
}

.button-grid:focus{
    background-color: rgb(168, 164, 164);
}

.download-now{
    height: 250px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-now h2{
    font-size: 28px;
}

.download-now h4{
    margin-top: -15px;
    font-size: 13px;
}

.download-here-button{
    width: 25%;
    height: 20%;
    background-color: #e84545;
    color: white;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.download-here-button:hover{
    background-color: #fa6060;
}

.sub-footer{
    background-color: #3a3e64;

    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: white;

    margin: 0;

    height: 200px;
}

.sub-footer p{
    font-size: 13px;
    color: #9d9fb2;
}

.location{
    max-width: 150px;
}

.share-with-love{
    max-width: 150px;
}

.share-with-love img{
    width: 40px;
}

.about-activebox{
    max-width: 310px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #808080;
}

.footer-all{
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #808080;
}

.footer p{
    max-width: 400px;
}

.footer img{
    max-width: 15px;
}

.by{
    color: white;
}

/* TABLET */
@media screen and (max-width: 768px){

    .cabecalho{
        color: #cbccd3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        background-color: rgba(45, 48, 100, 0.5);
        box-sizing: border-box;
        padding: 10px;
        width: 50%;
        position: absolute;
        box-sizing: border-box;
        font-size: 11px;
    }

    .cabecalho img{
        max-height: 15px;
    }

    .links-header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .link-header{
        color: #cbccd3;
        text-decoration: none;
    }
    
    .link-header:hover{
        color: #a8adb8;
        box-sizing: border-box;
        border-bottom: solid 1px white;
    }
}


@media screen and (min-width: 900px){
    
}